/* src/app/globals.css */

@import 'aos/dist/aos.css';

/* Estilo base para todo el sitio */
body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* AOS animaciones suaves */
[data-aos] {
  transition-duration: 1s !important;
  transition-timing-function: ease-out !important;
}

/* Estilo para el contenedor principal */
.main-card {
  border-radius: 20px;
  background: white;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

/* Botones redondeados con sombra */
.btn-pill {
  border-radius: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
}

label svg {
  margin-right: 6px;
  margin-bottom: 3px;
}
